<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8"/>
            <title>Coleção de livros</title>
        </head>
    <body>
        <h1>Bem Vindo a página Inicial</h1>
    </body>
    
</html>